<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143101887901-9ks1rmiue7vdqnkfr7bj8fia7p4tim6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143101887901-9ks1rmiue7vdqnkfr7bj8fia7p4tim6a</string>
	<key>API_KEY</key>
	<string>AIzaSyDRxrJqprXGaFAmPZpSNTwORhl3-dC72Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>143101887901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cgFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>sun-hyong-kwon-project-1234123</string>
	<key>STORAGE_BUCKET</key>
	<string>sun-hyong-kwon-project-1234123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143101887901:ios:28f55ed0259f800739db74</string>
</dict>
</plist>